<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CodePen - Navbar Pure CSS</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    <link rel="stylesheet" href="./dashboard.css">

</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="../assets/images/remove_bg_ai_17184415864112.png" alt="" class="logo-image">
            <!-- Insert Logo image-->
        </div>
        <div class="plantville">
            Plantville
        </div>
        <div class="image-16">
        </div>
        <ul class="menu">
            <li><a href="#">About us</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Sensors</a></li>
        </ul>
        <div class="nav_btn">
            <button> Log out </button>
        </div>
        <div class="bars">
            <i class="ri-menu-line"></i>
        </div>
        <div class="logo2">
            <img src="../assets/images/image_17.png" alt="" class="logo3"> <!-- Insert Logo image-->
        </div>
    </nav>
    <!-- partial:index.partial.html -->
    <div id="nav-bar">
        <div id="nav-header">
            <hr />
        </div>
        <div id="nav-content">
            <div class="nav-button"><i></i><span>Plant 1</span></div>
            <div class="nav-button"><i></i><span>Plant 2</span></div>
            <div class="nav-button"><i></i><span>Plant 3</span></div>
            <div class="nav-button"><i></i><span>Plant 4</span></div>
            <div class="nav-button"><i></i><span>Plant 5</span></div>
            <div class="nav-button"><i></i><span>Plant 6</span></div>
            <div class="nav-button"><i></i><span>Plant 7</span></div>
            <div id="nav-content-highlight"></div>
        </div>
        <div class="container-6">
            <div class="copyright">
                Copyright
            </div>
            <img class="group" src="../assets/vectors/group_x2.svg" />
            <div class="plantville-all-rights-reserved">
                2024, Plantville. All rights reserved
            </div>
        </div>
</body>

</html>