<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CodePen - Navbar Pure CSS</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    <link rel="stylesheet" href="./dashboard.css">

</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="../assets/images/remove_bg_ai_17184415864112.png" alt="" class="logo-image">
            <!-- Insert Logo image-->
        </div>
        <div class="plantville">
            Plantville
        </div>
        <div class="image-16">
        </div>
        <ul class="menu">
            <li><a href="#">About us</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Sensors</a></li>
        </ul>
        <div class="nav_btn">
            <button> Log out </button>
        </div>
        <div class="bars">
            <i class="ri-menu-line"></i>
        </div>
        <div class="logo2">
            <img src="../assets/images/image_17.png" alt="" class="logo3"> <!-- Insert Logo image-->
        </div>
    </nav>
    <!-- partial:index.partial.html -->
    <div id="nav-bar">
        <div id="nav-header">
            <hr />
        </div>
        <div id="nav-content">
            <div class="nav-button"><i></i><span>Plant 1</span></div>
            <div class="nav-button"><i></i><span>Plant 2</span></div>
            <div class="nav-button"><i></i><span>Plant 3</span></div>
            <div class="nav-button"><i></i><span>Plant 4</span></div>
            <div class="nav-button"><i></i><span>Plant 5</span></div>
            <div class="nav-button"><i></i><span>Plant 6</span></div>
            <div class="nav-button"><i></i><span>Plant 7</span></div>
            <div id="nav-content-highlight"></div>
        </div>
        <div class="container-6">
            <div class="copyright">
                Copyright
            </div>
            <img class="group" src="../assets/vectors/group_x2.svg" />
            <div class="plantville-all-rights-reserved">
                2024, Plantville. All rights reserved
            </div>
        </div>
        <div class="chartBox">
            <canvas id="myChart"></canvas>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js"
            integrity="sha512-vc58qvvBdrDR4etbxMdlTt4GBQk1qjvyORR2nrsPsFPyrs+/u5c3+1Ct6upOgdZoIl7eq6k3a1UPDSNAQi/32A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
        <script>
            const chartData = 'Plant 1-val.csv'

            d3.csv(chartData).then(function (datapoints) {
                console.log(datapoints)
                const times = [];
                const value = [];

                for (let i = 0; i < datapoints.length; i++) {
                    // Split the timestamp and extract the time
                    let fullTimestamp = datapoints[i].time;
                    let timePart = fullTimestamp.split('T')[1].split('.')[0];
                    times.push(timePart);
                    value.push(parseFloat(datapoints[i].value));
                }

                // setup
                const data = {
                    labels: times,
                    datasets: [{
                        label: 'Values',
                        data: value,
                        borderWidth: 1,
                        backgroundColor: 'rgba(255,26,104,0.2)',
                        borderColor: 'rgba(255,26,104,1)',
                        tension: 0.4,
                        pointRadius: 0
                    }],
                };

                // config
                const config = {
                    type: 'line',
                    data: data,
                    options: {
                        scales: {
                            x: {
                                title: {
                                    display: false,
                                    text: 'Time (HH:MM:SS)'
                                }
                            },
                            y: {
                                beginAtZero: true,
                                title: {
                                    display: false,
                                    text: 'Value'
                                }
                            }
                        }
                    }
                };

                // render init block
                const myChart = new Chart(
                    document.getElementById('myChart'),
                    config
                );

                console.log('Times:', times);
                console.log('Values:', value);
            }).catch(function (error) {
                console.log('Error loading the CSV file:', error);
            });
        </script>
</body>

</html>