<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Simonetta:wght@900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Radio+Canada:wght@&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="header.css" />
</head>

<body>
  <nav class="navbar">
    <div class="logo">
      <img src="../assets/images/remove_bg_ai_17184415864112.png" alt="" class="logo-image"> <!-- Insert Logo image-->
    </div>
    <div class="plantville">
      Plantville
    </div>
    <div class="image-16">
    </div>
    <ul class="menu">
      <li><a href="#">About us</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Sensors</a></li>
    </ul>
    <div class="nav_btn">
      <button> Log out </button>
    </div>
    <div class="bars">
      <i class="ri-menu-line"></i>
    </div>
    <div class="logo2">
      <img src="../assets/images/image_17.png" alt="" class="logo3"> <!-- Insert Logo image-->
    </div>
  </nav>
  <div class="background">
  </div>
  <div class="container-7">
    <div class="container-11">
      <div class="keep-your-plants">
        KEEP YOUR PLANTS
      </div>
      <span class="with-our-sensor-and-dashboard">
        with our sensor and dashboard
      </span>
      <div class="fresh-safe-sub9">
        Fresh
      </div>
      <div class="fresh-safe1">
        &
      </div>
      <div class="fresh-safe2">
        Safe
      </div>
    </div>
  </div>
</body>

</html>